p {
  color: black;
  font-family: Papyrus, fantasy;
}

a {
  color: black;
  font-family: Papyrus, fantasy;
  
}

body {
  cursor: url("NICK.png"), auto;
  }
  
img {
  border: thick dotted blue;
}

body {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

#mathtime {
	background-color: lightblue;
	padding: 40px;
	border-radius: 25px;
	border: 5px solid blue;
}

.funmathheading {
	font-weight: bold;
	color: blue;
}
